@tailwind base;
@tailwind components;
@tailwind utilities;

.circle-button {
	@apply btn btn-primary btn-circle my-4 sticky bottom-4 left-4 float-left;
}

.background {
	background-image: url('https://www.ouinfo.ca/assets/files/images/1.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.background-gradient-light {
	background-color: rgba(256, 256, 256, 0.6);
}

.background-gradient-dark {
	background-color: rgba(0, 0, 0, 0.6);
}

.container-light {
	background-color: rgba(250, 250, 250, 0.55);
}

.container-dark {
	background-color: rgba(0, 0, 0, 0.5);
}

/* Text */
.error-font {
	@apply text-sm italic;
}

.h-2 {
	@apply text-xl self-center my-8;
}

/* Forms */
.url-input {
	@apply input input-bordered flex items-center gap-2 w-full max-w-md;
}

.input-toggle {
	@apply toggle toggle-primary lg:toggle-lg;
}

.slide-input {
	@apply file-input file-input-bordered w-full max-w-md;
}

.show-only-on-desktop {
	@apply hidden lg:block;
}
